html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins';
    color: #141414;
    font-size: 1.4rem;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */

    position: relative;
    max-width: 192.0rem;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    border: 0.1rem solid #a2a1bf;
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

input{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2, h3{
    margin: 0;
}

p{
    margin: 0;
    font-family: 'Open Sans';
}

main{
    margin-top: -13.5rem;
}

.container{
    max-width: 117.0rem;
    margin: 0 auto;
    position: relative;

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 3rem;
}

.row{
    display: flex;
    /* flex-wrap: wrap; */
}

.column-direct{
    flex-direction: column;
}

.overlay{
    background-color: #ed1f24;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.8;
}

#hero{
    position: relative;
    
    background-image: url(../images/hero_background.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 75%;

    padding-top: 36.0rem;
    padding-bottom: 28.0rem;
}

/*--------------------------
    GENERAL STYLE
---------------------------*/

button{
    color: white;
    font-weight: 700;

    min-width: 14.5rem;    
    text-align: left;
}

button:after{
    content: "";
    display: block;

    margin-top: 1.5rem;

    min-width: 14.5rem;    
    height: 1rem;

    background-image: url(../images/arrow.png);
    background-repeat: no-repeat;
    background-position: center 0;
}    

/* button:hover:after{
    background-position: center -2rem;
}     */

/*--------------------------
    HEADER
---------------------------*/

header{
    margin: 2.4rem 0;
    position: relative;
    z-index: 999;
}

header .logo{
    grid-column: 1 /span 4;
}    

header .menu{
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    grid-column: 7 / span 6;

    font-weight: 700;
    text-align: center;
}

header .menu a{
    color: white;
}   

header .menu a.selected{
    color: #913bbe;
}    

/*--------------------------
    HOME
---------------------------*/
#home{
    position: relative;
    
    background-image: url(../images/home_background.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding-top: 39.2rem;
    padding-bottom: 32.6rem;
}

#home .column{
    color: white;
    grid-column: 1/8;

    position: relative;
    z-index: 1;
}

#home .column:after{
    content: "";
    position: absolute;
    z-index: -1;
    
    left: -15rem;
    top: -19.2rem;

    width: 64.9rem;
    height: 67.7rem;

    background-image: url(../images/home_decoraction.png);
    background-position: center;
    background-repeat: no-repeat;
}

#home .column h2{
    font-size: 3rem;
    text-transform: uppercase;
}    

#home .column h1{
    font-size: 6rem;
    line-height: 7.2rem;
}    

#home .column p{
    margin-top: 2.8rem;
    margin-bottom: 5.2rem;


    font-size: 2.4rem;
    line-height: 3.6rem;
}    

/*--------------------------
    ABOUT US
---------------------------*/
#about-us{
    position: relative;
    
    background-image: url(../images/about_background.jpg);    
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 25% 200%;

    padding-top: 20.5rem;
    padding-bottom: 18.5rem;
}

#about-us .column{
    grid-column: 8/13;

}

#about-us .column h2{
    color: #913bbe;

    font-size: 2.4rem;
    text-transform: uppercase;
}    

#about-us .column h1{
    color: #222222;
    
    font-size: 4.8rem;
    line-height: 6rem;
}    

#about-us .column p{
    color: #444444;

    font-size: 1.4rem;
    line-height: 2.4rem;

    margin-top: 2.6rem;
    margin-bottom: 4.8rem;
}  

#about-us .column button{
    color: #222222;
}

#about-us .column button:after{
    background-position: center -2rem;
}
    

/*--------------------------
    FEATURES
---------------------------*/

#features{
    border-top: 0.1rem solid #e5e5e5;

    padding-top: 9.2rem;
    padding-bottom: 9.8rem;
}

#features .column{
    grid-column: 1/13;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 3rem;

    text-align: center;
}

#features .column .feature-item .icon{
    width: 8.0rem;
    height: 5.8rem;

    margin: 0 auto;

    position: relative;

    background-image: url(../images/features/icon_bg.PNG);
    background-repeat: no-repeat;
    background-position: 100% center;
}    

#features .column .feature-item img{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
}    

#features .column .feature-item h3{
    font-size: 2.4rem;
    line-height: 6.0rem;
    color: #222222;
}

#features .column .feature-item p{
    line-height: 2.4rem;
    color: #444444;
}    

/*--------------------------
    FACTS
---------------------------*/

#facts .column{
    grid-column: 1/13;

    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 3rem;
}

#facts .column .fact-item{
    display: grid;
    grid-auto-flow: column;
}

/*--------------------------
    PROJECTS
---------------------------*/

#projects .container{
    grid-row-gap: 0;
    grid-template-rows: repeat(3, auto);
}

#projects header{
    grid-column: 5/9;
    grid-row: 1/2;
}    

#projects article{
    grid-column: 8/13;
    grid-row: 2/3;
}    

#projects nav{
    grid-column: 6/8;
    grid-row: 3/4;

    display: grid;
    grid-auto-flow: column;
}    

/*--------------------------
    SERVICE
---------------------------*/

#service .container{
    grid-row-gap: 0;
    grid-template-rows: repeat(2, auto);
}

#service header{
    grid-column: 5/9;
    grid-row: 1/2;
}    

#service article{
    grid-column: 1/13;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,23.5rem);
    grid-column-gap: 1rem;
}    

#service article .item-1{
    grid-column: 1/2;
    grid-row: 1/3;
}    

#service article .item-2{
    grid-column: 2/3;
    grid-row: 1/2;
}    

#service article .item-3{
    grid-column: 2/3;
    grid-row: 2/3;
}    

#service article .item-4{
    grid-column: 3/4;
    grid-row: 1/3;
}    

#service article figure{
    position: relative;
    /* height: 25.0rem; */
}

#service article figure img,    
#service article figure figcaption{
    position: absolute;
}    

#service article figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}    

/*--------------------------
    TESTIMONIAL
---------------------------*/

#testimonial .container{
    grid-row-gap: 0;
    grid-template-rows: repeat(2, auto);
}

#testimonial header{
    grid-column: 5/9;
    grid-row: 1/2;
}    

#testimonial article{
    grid-column: 1/13;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 1fr 2fr;
}    

#testimonial article img{
    grid-column: 1/2;

    height: 100%;
    width: 100%;
    object-fit: cover;
}    

#testimonial article blockquote{
    grid-column: 2/3;
}    

/*--------------------------
    PARTNERS
---------------------------*/

#partners .container{
    justify-content: center;

    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);

}

#partners figure{
    grid-column: span 2;
}

#partners figure:nth-child(5){
    grid-row: 2/3;
    grid-column: 2 /span 2;
}    

/*--------------------------
    LATEST NEWS
---------------------------*/

#latest-news .container{
    grid-row-gap: 0;
    grid-template-rows: repeat(2, auto);
}

#latest-news header{
    grid-column: 5/9;
    grid-row: 1/2;
}    

#latest-news article.news{
    grid-column: 1/13;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}   

#latest-news article.news img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}    

/*--------------------------
    FOOTER
---------------------------*/
footer .container{
    grid-row-gap: 0;
    grid-template-rows: repeat(2, auto);

    align-items: flex-end;
}

footer .container .about{
    grid-row: 1/2;
    grid-column: 1/6;
}

footer .container .subscribe{
    grid-row: 1/2;
    grid-column: 7/11;
}

footer .container .social-media{
    grid-row: 1/2;
    grid-column: 11/13;
}

footer .container .copyright{
    grid-row: 2/3;
    grid-column: 1/4;
}    

footer .container .menu{
    grid-row: 2/3;
    grid-column: 8/13;

    display: grid;
    grid-auto-flow: column;
    align-items: center;
}    
    