html{
    font-size: 62.5%;
}

body{
    font-family: 'Poppins';
    color: #141414;
    font-size: 1.4rem;

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */

    position: relative;
    max-width: 192.0rem;
    margin: 0 auto;
}

*{
    box-sizing: border-box;
    border: 0.1rem solid #a2a1bf;
}

figure{
    padding: 0;
    margin: 0;
}

button{
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

input{
    outline: none;
    border: none;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    margin: 0;
    margin-bottom: 4.4rem;

    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color:#666666;
}

p{
    margin: 0;

    letter-spacing: -0.09rem;
    font-weight: 300;
    font-size: 3.6rem;
    color: #666666;
}

main{
    /* margin-top: -18.0rem; */
}

.container{
    max-width: 118.0rem;
    margin: 0 auto;
    position: relative;
}

.row{
    display: flex;
    /* flex-wrap: wrap; */
}

.column-direct{
    flex-direction: column;
}

.overlay{
    background-color: #ed1f24;
    position: absolute;
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    opacity: 0.8;
}

#hero{
    position: relative;
    
    background-image: url(../images/hero_background.jpg);    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 75%;

    padding-top: 36.0rem;
    padding-bottom: 28.0rem;
}


/*--------------------------
    HEADER
---------------------------*/
