@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans Regular'), local('OpenSans-Regular'), url('../fonts/Poppins/OpenSans-Regular.woff2') format('woff2'), url('../fonts/Poppins/OpenSans-Regular.woff') format('woff'), url('../fonts/Poppins/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: local('OpenSans RegularItalic'), local('OpenSans-RegularItalic'), url('../fonts/Poppins/OpenSans-RegularItalic.woff2') format('woff2'), url('../fonts/Poppins/OpenSans-RegularItalic.woff') format('woff'), url('../fonts/Poppins/OpenSans-RegularItalic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins Bold'), local('Poppins-Bold'), url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
